body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bold-text {
    font-weight: 800;
}

.bg-colored {
    background-color: #1ABC9C;
}

.padding-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.navbar-default {
    background-color: #2C3E50;
    border: none;
    border-radius: 0;
    padding: 20px 0;
    margin-bottom: 0;
}

.navbar-default .navbar-toggle {
    border: none;
}

/* after hover and click */
.navbar-default .navbar-toggle:focus {
    background-color: #1ABC9C;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}
/* --------------------------- */

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* ricorda di aggiungere media query per la font-size */
.navbar-default .navbar-brand {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 30px;
}

/* HEADER */
.jumbotron {
    /* background-color: #1ABC9C; */
    padding: 150px 0 60px;
    margin-bottom: 0;
}

.jumbotron img {
    height: 200px;
}

/* .jumbotron h1 {
    font-weight: 800;
} */

/* stellina malefica */
.star {
    position: relative;
    width: 200px;
    margin: 20px auto;
    font-size: 32px;
}

.star::before {
    content: "";
    background-color: white;
    width: calc((100% - 60px) / 2);
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.star::after {
    content: "";
    background-color: white;
    width: calc((100% - 60px) / 2);
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/* ----------------- */

.skills {
    font-size: 20px;
}
/* FINE HEADER */

section#portfolio,
section#contact {
    color: black;
}

/* PORTFOLIO SECTION */

section#portfolio .star {
    color: black;
}

section#portfolio .star::before,
section#portfolio .star::after {
    background-color: black;
}

#portfolio .overlay {
    position: relative;
}

#portfolio .overlay:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    height: 100%;
    background-color: green;
    /* ? transition su un after */
}

.img-padding {
    padding: 0 20px;
    padding-bottom: 30px;
}

/* ABOUT SECTION */
section#about a.btn {
    padding: 20px;
    border: 1px solid white;
    color: white;
}

section#about a.btn:hover {
    color: black;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}

/* CONCTACT SECTION */
section#contact .star::before,
section#contact .star::after {
    background-color: black;
}

.form-control:focus {
    box-shadow: none;
}

.form-wrapper input,
.form-wrapper textarea {
    border-bottom: 1px solid #a39e9e;
    padding: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    height: 63px;
    border-radius: 0px;
    font-size: 20px;
    margin: auto;
}

textarea {
    resize: none;
}

/* FOOTER */
footer {
    background-color: #2C3E50;
}

footer h4 {
    margin: 30px 0 30px;
}

footer p a {
    color: #1abc9c;
    text-decoration: none;
}

footer p a:hover {
    color: #1abc9c6e;
    text-decoration: none;
}

footer .btn-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding:0;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
  }

footer .btn-circle:hover {
    background-color: white;
    color: black;
}

/* COPYRIGHT SECTION */
section#copyright {
    background-color: black;
    padding: 20px 0;
}


/* MEDIA QUERIES */
@media (max-width: 417px) {
    .navbar-default .navbar-brand {
        font-size: 20px;
    }

    .navbar-default {
        padding: 0;
    }
}