body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-default {
    background-color: #2C3E50;
    border: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 30px;
}

.navbar-default .navbar-nav>li>a:not(:last-of-type) {
    
}

.jumbotron {
    background-color: #1ABC9C;
    padding: 150px 0 60px;
}

.jumbotron img {
    width: 240px;
}

.jumbotron h1 {
    font-weight: 800;
}

.star {
    position: relative;
    margin: 20px 10px;
    width: 200px;
    margin: 30px auto 20px;
}

.star::before {
    content: "";
    background-color: white;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
}

.star::after {
    content: "";
    background-color: white;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
}