body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-default {
    background-color: #2C3E50;
    border: none;
    padding: 20px 0;
}

.navbar-default .navbar-toggle {
    background-color: #1ABC9C;
    border: none;
}

/* after hover and click */
.navbar-default .navbar-toggle:focus {
    background-color: #1ABC9C;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:focus {
    color: white;
}
/* --------------------------- */

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 30px;
}

.jumbotron {
    background-color: #1ABC9C;
    padding: 150px 0 60px;
}

.jumbotron img {
    width: 240px;
}

.jumbotron h1 {
    font-weight: 800;
}

header .star {
    position: relative;
    width: 200px;
    margin: 30px auto 20px;
    font-size: 32px;
}

header .star::before {
    content: "";
    background-color: white;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
}

header .star::after {
    content: "";
    background-color: white;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
}

.skills {
    font-size: 20px;
}